[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python manage.py collectstatic --noinput"]

[start]
cmd = "gunicorn packaxis_app.wsgi:application --bind 0.0.0.0:$PORT --workers 4 --timeout 120"
