[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "python manage.py reset_schema && python load_data.py && python manage.py collectstatic --noinput && gunicorn packaxis_app.wsgi:application"
