[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "python -c \"import os; os.environ.setdefault('DJANGO_SETTINGS_MODULE','packaxis_app.settings'); import django; django.setup(); from django.db import connection; cursor=connection.cursor(); cursor.execute('DROP SCHEMA public CASCADE; CREATE SCHEMA public; GRANT ALL ON SCHEMA public TO public;'); print('Schema reset!')\" && python manage.py migrate && python load_data.py && python manage.py collectstatic --noinput && gunicorn packaxis_app.wsgi:application"
